{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body class="text-center">
    <div class="containerMargin">
        <div class="container-fluid contLogin">
            <img src="{% static 'img/logocoa3.png' %}" class="soonLogin">
            <div class="containerMax centered mt-1 p-3">
                    <h2 class="text-center textLogin">SISTEC_HE</h2>
                    <form action="{% url 'login' %}" method="POST">
                        <div class="mb-3">
                            {% csrf_token %}
                            <label for="login"></label>
                            <input type="text" id="login" class="form-control" name="login"
                                   placeholder="Insira o Nome de Usuário" required>
                            <label for="password"></label>
                            <input id="password" type="password" class="form-control" name="password"
                                   placeholder="Insira a senha" required>
                            <div class="mt-4">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    </body>



{% endblock %}
{#<body class="text-center">#}
{#    <div class="contLogonExterno">#}
{#      <div class="container-fluid contLogin">#}
{#        <div class="form-signin centered mt-1 p-3 ">#}
{#          <%= image_tag "logocoa3.png", class: ' rounded logoLogin' %>#}
{#          <h2 class="text-center mt-4 textLogin">SISTEC_HE</h2>#}
{#          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>#}
{#            <div class="mb-3">#}
{#              <%= f.label :email, class: 'sr-only', id: 'teste' %><br/>#}
{#              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Insira o Email" %>#}
{#              <%= f.label :password, class: 'sr-only' %><br/>#}
{#              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Insira a senha" %>#}
{#            </div>#}
{#            <div>#}
{#              <%= f.submit "Log in", class: 'btn  btn-lg btn-primary btn-block' %>#}
{#            </div>#}
{#          <% end %>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#</body>#}
