{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>SistecHE</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_imports/employees.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_imports/extra_hour.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_imports/extra_hour_limit.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_scheduling/scheduling_employees.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_partials/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_users/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'javascript/Jquery/jquery-3.5.1.min.js' %}" type="javascript"></script>
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'partials/menu.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'javascript/imports.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/scheduling.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="javascript"></script>
</body>
</html>