<head>
    <title>Importação|Funcionários</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body style="background: #F5F5F5">
    <div class="divAll">
        <h1 class="text-center textTitleAll"><strong>IMPORTAR EFETIVO | AG</strong></h1>

        <form method="POST" enctype="multipart/form-data" action="{% url 'update_employees' %}">
            {% csrf_token %}
            <input type="file" name="excel">
            <input type="submit">
        </form>

        <form method="POST" action="{% url 'employees' %}">
            {% csrf_token %}
            <input type="text" name="search">
            <input type="submit">
        </form>
        {% if import_history %}
            <h2>Última Atualização: {{ import_history_create_at }} por {{ user.first_name }}</h2>
        {% endif %}
        <table id="tabelaEfetivo" class="table border border-dark">
            <thead class="theadAll">
            <tr>
                <th scope="col">Líder</th>
                <th scope="col">Matricula</th>
                <th scope="col">Nome</th>
                <th scope="col">Função</th>
                <th scope="col">Líder</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Setor</th>
            </tr>
            </thead>
            <tbody>
            {% csrf_token %}
            {% for employee in employees %}
                <tr class="tr-employee">
                    {% if employee.leader == True %}
                        <td><input class="leader checkE" type="checkbox" value="{{ employee.registration }}"
                                   name="checks[leader]" id="check_leader" checked></td>
                    {% else %}
                        <td><input class="leader checkE" type="checkbox" value="{{ employee.registration }}"
                                   name="checks[leader]" id="check_leader"></td>
                    {% endif %}
                    <td id="employee_registration" class="registration">{{ employee.registration }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.occupation }}</td>
                    <td>{{ employee.leader_name }}</td>
                    <td>{{ employee.sub_sector.name }}</td>
                    <td><select name="selected_sector" id="selected_sector" class="form-control selected_sector" value="1">
                        <option value="0">Selecione um setor</option>
                        {% for sector in sectors %}
                            {% if sector.id == employee.sector.id %}
                                <option value="{{ sector.id }}"selected="selected">{{ sector.name }}</option>
                            {% else %}
                                <option value="{{ sector.id }}">{{ sector.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}


