<head>
    <title>Configurações de Usuários</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
        <h1 class="text-center textTitleAll"><strong>CONFIGURAÇÃO DE USUÁRIOS | AG</strong></h1>
        <div class="container-fluid">
            <div class="mt-5 pb-2">
                <form method="POST" action="{% url 'extra_hour_limit' %}">
                    {% csrf_token %}
                    <div class="row justify-content-end">
                        <div>
                            <input class="form-control mr-sm-2" type="text" name="search">
                        </div>
                        <div class="ml-1">
                            <input class="btn btn-outline-success my-2 my-sm-0" value="Procurar" type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table border border-dark">
            <thead class="theadAll">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Setor</th>
                <th>Ultimo login</th>
                <th>Tempo liberado</th>
                <th>Motivo</th>
                <th></th>
                <th>Ultima alteração</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="pt-4">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="pt-4">{{ user.email }}</td>
                    <td class="pt-4">{{ user.userprofileinfo.sector.name }}</td>
                    <td class="pt-4">{{ user.last_login|date:'d/m/Y H:i' }}</td>
                    <form action="{% url 'update_extra_hour_limit' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.id }}">
                        {#                    {% if released_hour != None %}#}
                        {#                        {% for hour in released_hour %}#}
                        {#                            {% if hour.user == user %}#}
                        {#                                <td><input type="time" name="time_released" value="{{ hour.released_hour|date:'H:i' }}">#}
                        {#                                </td>#}
                        {#                                <td><input type="text" name="reason" value="{{ hour.reason }}"></td>#}
                        {#                                <td><input type="submit" value="Salvar"></td>#}
                        {#                                <td>{{ hour.create_at|date:'d/m/Y H:i' }} por#}
                        {#                                    {% for u in users %}#}
                        {#                                        {% if u.id == hour.made_by %}#}
                        {#                                            {{ u.first_name }}#}
                        {#                                        {% endif %}#}
                        {#                                    {% endfor %}#}
                        {#                                </td>#}
                        {#                            {% else %}#}
                        {#                                <td><input type="time" name="time_released"></td>#}
                        {#                                <td><input type="text" name="reason"></td>#}
                        {#                                <td><input type="submit" value="Salvar"></td>#}
                        {#                            {% endif %}#}
                        {#                        {% endfor %}#}
                        {#                    {% else %}#}
                        <td><input type="time" class="form-control" name="time_released"
                                   value="{{ user.releasedhours.last.released_hour|date:'H:i' }}">
                        </td>
                        <td><input type="text" class="form-control" name="reason"
                                   value="{{ user.releasedhours.last.reason }}"></td>
                        <td><input type="submit" class="btn btn-success" value="Salvar"></td>
                        {% if user.releasedhours.last %}
                            <td class="pt-4">{{ user.releasedhours.last.create_at|date:'d/m/Y H:i' }}
                                por {{ user.releasedhours.last.made_by }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}