<head>
    <title>Agendamento|Funcionários</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center textTitleAll"><strong>EDITAR AGENDADOS | AG</strong></h1>

    <form action="" method="post" id="edit_scheduling">
        <nav class="navbar navbar-expand-lg navbar-light mt-5 mb-5 navBgE">
            {% csrf_token %}
            <div class="container justify-content-center ">
                <div class="col-3 ">
                   <input type="date" class="form-control" name="date" id="date" required>
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-block btn-info">
                </div>
            </div>
        </nav>
    </form>
    <div id="list_edit_employees_">

    </div>
{% endblock %}