<head>
    <title>Agendamento|Funcionários</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="background: white;" class="border rounde">
    <div class="divAll">
        <div class="container-fluid">
            <div class="row">
                <!--    <div class="col-1">-->

                <!--    </div>-->
                <div class="col-6 ">
                    <p class="text-center textMF"><strong>AGENDAMENTO ENCERRADO</strong></p>
                    <p class="text-center textMF2"><em>Tente novamente na próxima semana</em></p>
                </div>
                <div class="col-6 ">
                    <div class="text-center">
                        <img src="https://cdn.dribbble.com/users/43762/screenshots/1559273/itsnottoolate.gif" alt=""/>
                    </div>

                </div>
            </div>
        </div>

     </div>
    </div>
{% endblock %}